.form__container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #0003;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease trasform;
}

.form__close {
    transform: scale(0);
}

.user__cards__container {
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.8em;
    gap: 2em;
}

.btn__create {
    position: absolute;
    top: 2em;
    right: 13em;
}

.user__title{
    position: absolute;
    font-size: 30px;
    top: 1em;
    margin-left: 7em;
}

.btn__create {
    display: flex;
    justify-content: end;
    margin-top: 1em;
    font-size: 1rem;
    border: none;
    padding: 0.5em 1em;
    font-weight: 500;
    background-color: #555A88;
    color: white;
    border-radius: 0.5em;
}
